<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                    <div>
                        <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                                    class="fas fa-angle-down mt-1"></i></a></p>
                    </div>
                </div>
                {{#each productArray}}
                <div class="card rounded-3 mb-4" id='productDiv{{this.proIdString}}'>
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img src="/images/{{this.proId}}.jpg"
                                    class="img-fluid rounded-3" alt="">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="mb-2 text-bold" style="font-size: 20px;">{{this.name}}</p>
                                
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <button class="btn btn-outline-danger btn-sm ml-1"
                                    onclick="changeProductQuantity('{{this.proId}}', -1)" id='increment{{this.proId}}'>
                                   -
                                </button>

                                <input id='{{this.proId}}'  min="1" name="quantity" value="{{this.quantity}}" type="number"
                                    class="form-control form-control-sm text-center inputMuteShow" style="font-weight: 600;"/>

                                <button class="btn btn-outline-success btn-sm"
                                   onclick="changeProductQuantity('{{this.proId}}', 1)">
                                    +
                                </button>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 class="mb-0" id="totalPrice{{this.proId}}">${{this.totalPrice}}</h5>
                            </div>
                            <div class="">
                                <!--href="/delete-cart-product/{{this.proId}}"-->
                            <a class="btn text-white" style="background-color: #dd4b39;"  onclick="deleteProduct('{{this.proId}}')"  role="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                </svg>
                            </a>
                            </div>
                        </div> 
                    </div>
                </div>
                {{/each}}
 

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Total amount : $ <span id="totalCartPrice">{{totalCartPrice}}</span></h3>
                    </div>
                    <div class="card-body">
                        <a href="/check-out" id="check-out-link"><button type="button" class="btn btn-warning btn-block btn-lg">Checkout</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<style>
    .inputMuteShow{
        border: none;
        font-weight: 600;
    }
    .inputMuteShow:hover{
        border: none;
        box-shadow: none;
    }
    #check-out-link{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
</style>
 
<script>
    const form1 = document.getElementsByClassName('inputMuteShow')[0];
    form1.readOnly = true;
    form1.style='none'
</script>